<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name}"
        android:theme="@style/Theme.App"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity">
        <activity
            android:name=".design.ui.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".design.ui.activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".design.ui.activity.edit.EditNewPayerActivity" />
        <activity android:name=".design.ui.activity.edit.CommonEditActivity" />
    </application>

</manifest>