<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Default"
        android:usesCleartextTraffic="true"
        tools:ignore="DataExtractionRules,GoogleAppIndexingWarning"
        tools:replace="android:allowBackup"
        tools:targetApi="m">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true" />

        <activity android:name=".ui.activity.AnimateListActivity" />
        <activity android:name=".ui.activity.SimpleListActivity" />
        <activity android:name=".ui.activity.PagerActivity" />
        <activity android:name=".ui.activity.PullToRefreshActivity" />
        <activity android:name=".ui.activity.ScaffoldActivity" />
        <activity android:name=".ui.activity.PagingActivity" />
        <activity android:name=".ui.activity.FormActivity" />
        <activity android:name=".ui.activity.MediaActivity" />
        <activity android:name=".ui.activity.TtsActivity" />

    </application>

</manifest>