<manifest package="compat">

    <!--compat牵扯的权限较多, 不主动声明权限，由使用者自行声明权限, 只做示例-->

    <!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->

    <!--    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->

    <!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->

    <!--    <uses-permission android:name="android.permission.BLUETOOTH" />-->
    <!--    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->
    <!--    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />-->
    <!--    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />-->
    <!--    <uses-permission-->
    <!--        android:name="android.permission.BLUETOOTH_PRIVILEGED"-->
    <!--        tools:ignore="ProtectedPermissions" />-->

    <!--    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />-->
</manifest>
