<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fund">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name}"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".design.ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".design.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".design.ui.activity.TestActivity" />
        <activity
            android:name=".design.ui.activity.BindPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".design.ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".design.ui.activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".design.ui.activity.AlbumActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="kyxd.fund.app.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name=".service.CommonService" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <meta-data
            android:name="host"
            android:value="${host}" />
    </application>

</manifest>