#放假的时间:H 上班的时间:W 全部都是阳历日期 2014年假期

#元旦
H(m1:d1)

#春节
H(m1:d31)
H(m2:d1)
H(m2:d2)
H(m2:d3)
H(m2:d4)
H(m2:d5)
H(m2:d6)

W(m1:d26)
W(m2:d8)

#清明节
H(m4:d5)
H(m4:d6)
H(m4:d7)

#劳动节
H(m5:d1)
H(m5:d2)
H(m5:d3)

W(m5:d4)

#端午节
H(m5:d31)
H(m6:d1)
H(m6:d2)

#中秋节
H(m9:d6)
H(m9:d7)
H(m9:d8)

#国庆节
H(m10:d1)
H(m10:d2)
H(m10:d3)
H(m10:d4)
H(m10:d5)
H(m10:d6)
H(m10:d7)

W(m9:d28)
W(m10:d11)





